.menuBurger{
    width: 50px;
    /* height: 50px; */
}
.bgHeader{
    background-image: url("../img/bg_header.jpg");
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
ul{
    display: flex;
    justify-content: space-between;
}
/* .bgFooter{
    background-image: url("../img/bg_footer.jpg");
    height: 500px;
    background-size:contain ;
    background-position: center;
    background-repeat: no-repeat;
} */

/* Format téléphone */
@media screen and (max-width: 400px){
    
h1{
    display: none;
}
ul{
    display: none;
}

.bgFooter{
    display: none;
}
}

/* Format tablette */
@media screen and (min-width: 401px) and (max-width: 1000px) {
    
    ul{
        display: none;
    }
    /* .bgFooter{
        display: block; */
    /* } */
    .bgHeader{
        /* display: none; */
        background-image: url("../img/bg_footer.jpg");
        background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    }
}

/* Format ordinateur */
@media screen and (min-width: 1001px){
    
.menuBurger{
    display: none;
}
.bgFooter{
    display: none;
}
.bgHeader{
    height: 440px;
}
}
